version: "2"
services:
  share-by-qrcode:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: share-by-qrcode
    ports:
      - 8085:80
      - 8086:443
    volumes:
      - .:/var/www
      - ./cert/cert.pem:/etc/apache2/cert/cert.pem
      - ./cert/cert.key:/etc/apache2/cert/cert.key
      - ./cert/AC.pem:/etc/apache2/cert/AC.pem
    environment:
      #- 'storageAdapterName=StorageAdapterAwsS3'
      #- 'storageAdapterConfig=ewogICAgInJlZ2lvbiI6ICJzYS1lYXN0LTEiLAogICAgImJ1Y2tldCI6ICI8YnVja2V0PiIsCiAgICAiYmFzZV9wYXRoIjogIjxwcmVmaXhvIHBhcmEgYXJxdWl2b3MgZGUgbWV0YWRhZG9zIGRvIFFSQ29kZT4iLAogICAgImF3c19hY2Nlc3Nfa2V5X2lkIjogIiIsCiAgICAiYXdzX3NlY3JldF9hY2Nlc3Nfa2V5IjogIiIKfQo='
      - 'qrcodeBaseUrl=https://<dominio deste servico>/d'
      #- 'redirectBaseUrl=https://seusite.com.br/download'

 